# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Datasets
*.parquet
*.csv

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Reports
reports/

# Environment
.env

# Logs
*.log

# Models
models/
*.pkl

# Database
data/*.db

# Node
node_modules/
dist/